################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/abc/.vs/abc
/abc/abc/obj/Debug/net6.0
/abc/abc/obj
